# <center> Assignment #1 
## <center>  Exploratory data analysis with Pandas

We will be doing EDA on Adult dataset having following attributes:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [5]:
raw_data = pd.read_csv("adult.data.csv")
raw_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [6]:
# code here
raw_data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [10]:
raw_data[raw_data['sex'] == "Female"]["age"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [15]:
# code here
german_people = raw_data[raw_data["native-country"] == "Germany"]["native-country"].count()
total_people = raw_data["native-country"].count()

percentage = (german_people/total_people)*100
print("percentage of German citizens (native-country feature) : {}".format(percentage))

percentage of German citizens (native-country feature) : 0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [27]:
# code here
less_mean = raw_data[raw_data['salary'] == "<=50K"]["age"].mean()
less_std = raw_data[raw_data['salary'] == "<=50K"]["age"].std()

more_mean = raw_data[raw_data['salary'] == ">50K"]["age"].mean()
more_std = raw_data[raw_data['salary'] == ">50K"]["age"].std()
print("the mean and std. dev for less and more salary people for there age is :\n{}  {}\n{}  {}".format(less_mean,less_std,more_mean,more_std))

the mean and std. dev for less and more salary people for there age is :
36.78373786407767  14.020088490824813
44.24984058155847  10.51902771985177

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [58]:
# code here
array=[ "11th", "9th", "7th-8th", "12th","1st-4th", "10th",  "5th-6th", "Preschool"]
~raw_data.loc[raw_data['salary']==">50K"]["education"].isin(array).all()

True

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [29]:
# code here
race_data=raw_data.groupby("race").describe()

#gender by describe()
sex_data=raw_data.groupby("sex").describe()

print("race_data",race_data,"\n gender_data:",sex_data)

race_data                         age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                         capital-gain               ...     fnlwgt             \
                     max        count         mean  ...        75%        max
race                                                ...
Amer-Indian-Eskimo  82.0        311.0   625.266881  ...   176142.0   445168.0
Asian-Pac-Islander  90.0       1039.0  1478.358037  ...   194456.0   506329.0
Black               90.0       3124.0   609.940461  ...   281693.0  1268339.0
Other               77.0        271.0   934.660517  ...   240091.0   481175.0
White               90.0      27816.0  1121.660375  ...   233542.5  1484705.0

                   hours-per-week                                         \
                            count       mean        std  min   25%   50%
race
Amer-Indian-Eskimo          311.0  40.048232  11.695364  3.0  40.0  40.0
Asian-Pac-Islander         1039.0  40.127045  12.556816  1.0  40.0  40.0
Black                      3124.0  38.422855  10.315646  1.0  37.0  40.0
Other                       271.0  39.468635  11.143755  5.0  36.0  40.0
White                     27816.0  40.689100  12.544796  1.0  40.0  40.0


                     75%   max
race
Amer-Indian-Eskimo  40.0  84.0
Asian-Pac-Islander  40.0  99.0
Black               40.0  99.0
Other               40.0  98.0
White               45.0  99.0

[5 rows x 48 columns]
 gender_data:             age                                                      \
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

       capital-gain               ...      fnlwgt            hours-per-week  \
              count         mean  ...         75%        max          count
sex                               ...
Female      10771.0   568.410547  ...   228331.50  1484705.0        10771.0
Male        21790.0  1329.370078  ...   241146.25  1455435.0        21790.0


             mean        std  min   25%   50%   75%   max
sex
Female  36.410361  11.811300  1.0  30.0  40.0  40.0  99.0
Male    42.428086  12.119755  1.0  40.0  40.0  49.0  99.0

[2 rows x 48 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [34]:
# code here
married=["Married-civ-spouse", "Married-spouse-absent","Married-AF-spouse"]
a=raw_data[raw_data['salary']==">50K"]["marital-status"].isin(married).value_counts()
print("{} \nhere proportion of people who have earn a lot and are married are larger then vice-versa.".format(a))

True     6736
False    1105
Name: marital-status, dtype: int64
here proportion of people who have earn a lot and are married are larger then vice-versa.

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [52]:
# code here
max_hours  = raw_data['hours-per-week'].max()
max_hours_salary = raw_data[raw_data["hours-per-week"] == max_hours]["salary"].count()

a = (raw_data[raw_data["hours-per-week"]==max_hours]["salary"]==">50K").value_counts()
print((a[True]/max_hours_salary)*100)

29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [ ]:
# code here